.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonGroup {
    display: flex;
    gap: 0.1rem;
}

.buttonGroup.margin {
    margin-top: 10px;
}

.row {
    display: flex;
    margin-top: 20px;
    gap: 30vw;
}

.row1 {
    margin-left: 10px;
    margin-top: 30px;
    gap: 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3D4C53;
    width: 60px;
    height: 50px;
    transition: 0.1s;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background: #26A69A;
    border-radius: 2px;
}

.button:active {
  background: #1F897F;
  border-radius: 1px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
}

.button.selected {
  background: #26A69A;
  border-radius: 2px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
}

.button.selected:active {
  transform: none;
}


.button:disabled {
    opacity: 0.6;
    box-shadow: none;
}

.button:disabled:hover {
    background: #3D4C53;
}

.button:disabled:active {
    box-shadow: none;
    transform: none;
}

.button.selected:disabled:hover {
    background: #26A69A;
}

.button.selected:disabled:active {
    transform: translateY(1px);
}

@media screen and (max-width: 568px) {
    .row {
        flex-direction: column;
        align-items: center; 
        margin-top: 1.5rem; 
        gap: 1rem; 
    }

    .row1 {
        margin-left: 0; 
        margin-top: 1rem; 
        flex-direction: row; 
        align-items: center; 
    }
}