.sliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0 10px;
}

.info {
    position: fixed;
    top: 10%;
    height: 7rem;
    width: auto;
    left: 37%;
    right: 37%;
    background-color: azure;
    font-size: 5rem;
    z-index: 999;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,      /* fully transparent */
            rgba(255, 255, 255, 0.5) 25%,   /* semi-transparent */
            rgba(255, 255, 255, 1) 50%,     /* fully opaque */
            rgba(255, 255, 255, 0.5) 75%,   /* semi-transparent */
            rgba(255, 255, 255, 0) 100%     /* fully transparent */
        );
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000c23;
}

input[type="range"] {
    accent-color: #ff4500;
    cursor: ew-resize;
}

input[type="range"]:disabled {
    cursor: not-allowed;
}

input[type="range"]:disabled + label {
    color: gray; 
}